body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.text-primary {
    color: #E55473;
}

.banner {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

.head-title {
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    margin-left: 240px;
}

.para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: 240px;
}

.pic1 {
    width: 635px;
    height: 800px;
    flex-shrink: 0;
    margin: 50px 240px;
}

.bt-primary {
    border: none;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    gap: 10px;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 240px;
}

.bt-primary-shop {
    align-self: flex-start;
}

.bt-primary-signup {
    align-self: center;
}

.deal-title {
    color: #272727;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin-left: 200px;
}

.deal-para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
    display: flex;
    width: 594px;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: 200px;

}

.deal-banner {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 215px;
}


.deal-banner img {
    width: auto;
    height: auto;
    margin-right: 429px;
}


.instagram-section {
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.instagram-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 128px;
}

.instagram-para {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    width: 594px;
    flex-direction: column;
    flex-shrink: 0;
}

.instagram-images {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 48px;
}

.instagram-img {
    border: none;
    width: 342px;
    height: 396px;
    flex-shrink: 0;

}



.deals-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.deals-banner {
    position: absolute;
    margin-top: 128px;
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    border-radius: 8px;
}

.deals-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #272727;

}

.deals-title {
    color: #272727;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}

.deals-para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
}

.subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 48px;
    

}

.subscribe-input {
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    border: none;
    
}
.subscribe-input::placeholder {
    color: rgba(39, 39, 39, 0.60);
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 22px;
}


.bt-primary-subscribe {
    align-self: center;
    margin-left: 12px;
    height: 64px;
}